<div class="prestapro-header">
    <img src="{{ module_logo }}" alt="PrestaPro" class="prestapro-header__logo" />
    <div class="prestapro-header__info">
        <h2 class="prestapro-header__title">{{ module_display_name }}</h2>
        <p class="prestapro-header__meta">v{{ module_version }} &middot; PrestaShop 9.x compatible</p>
        <div class="prestapro-header__links">
            <a href="{{ docs_url }}" target="_blank">{{ 'Documentation'|trans({}, 'Admin.Global') }}</a>
            <a href="{{ support_url }}">{{ 'Support'|trans({}, 'Admin.Global') }}</a>
            <a href="{{ github_url }}" target="_blank">GitHub</a>
        </div>
    </div>
</div>
